.info-border {
  border: 1px solid #17A9BB!important;
}
.pageNumCss {
  width: 45px!important;
  border: 1px solid #17A9BB!important;
  color: #17A9BB!important;
  text-align: center!important;
  font-weight:bold!important;
}
.marginTop {
  margin-top: 20px;
  padding: 20px 50px;
}

.App {
  text-align: center;
}

.arrow{
  width: 0;
  height: 0;
  float: right;
  margin-top: 5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: inline-block;
  cursor: pointer;
}

.arrow-up{
  border-bottom: 10px solid white;
}

.arrow-down{
  border-top: 10px solid white;
}

.jumbotron{
  padding: 20px 50px;
}

.navbar{
  width: 100vw;
}
.twoRow{
  display: flex;
  justify-content: space-between;
}
.twoRow div {
  flex:1;
  padding: 5px;
}

